/* components/MobileLayout.css */
.mobile-layout {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: #333;
}

.mobile-navbar {
    display: none; /* Hidden by default */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: black;
    padding: 1em;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.4);
    position: absolute; /* Positioned absolutely */
      
    left: 0;
    right: 0;
     
    z-index: 100; /* Ensures it appears above other content */
}

.mobile-navbar.active {
    display: flex; /* Show when active */
}

.mobile-navbar h1 {
    color: #ffffff;
    font-size: 1.8em;
    margin: 0;
    text-align: center;
}

.mobile-navbar ul {
    list-style: none;
    padding: 0;
    margin: 1em 0;
}

.mobile-navbar ul li {
    margin: 0.5em 0;
}

.mobile-navbar ul li a {
    color: #f4f4f4;
    text-decoration: none;
    font-size: 1.1em;
}

.mobile-navbar .cv-link a {
    display: inline-block;
    padding: 0.5em 1.2em;
    color: #ffffff;
    background: linear-gradient(135deg, #8d762a, #bfc766);
    border-radius: 25px;
    font-weight: bold;
    text-decoration: none;
    margin-top: 1em;
}

/* Toggle Button Styles */
.nav-toggle {
    background: none;
    border: none;
    color: #fff;
    font-size: 1.5em;
    cursor: pointer;
    position: absolute;
    top: 10px; /* Adjust position as needed */
    right: 10px; /* Adjust position as needed */
    z-index: 101; /* Ensure it's above the navbar */
}
