.about-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));  
     
    font-family: 'Arial', sans-serif;
    backdrop-filter: blur(10px); 
    border-radius: 15px; 
}

.about-section h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #ffffff;
    text-align: center;
    letter-spacing: 2px;
    border-bottom: 3px solid #8d762a;
    transition: transform 0.3s ease;
}

.AboveSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    width: 100%;
    max-width: 900px;
    border-radius: 10px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);  
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background: rgba(255, 255, 255, 0.045);  
}

.leftContent {
    border: 1px solid transparent;
    padding: 10px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.leftContent img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);  
    transition: transform 0.3s ease;
}

 
.rightContent {
    border: 1px solid transparent;
    max-width: 500px;
    padding: 10px;
    text-align: left;
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
    transition: color 0.3s ease;
}

.rightContent h3 {
    color: #9f7315f1; /* Different color for the heading */
}

.BelowSection {
    padding: 20px;
    margin-top: 30px;
    transition: box-shadow 0.3s ease;
    width: 100%;
    max-width: 900px;
}

 

.BelowSection ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 0;
    margin: 0;
}

.BelowSection ul li {
    font-size: 1rem;
    color: rgb(255, 255, 255);
    padding: 10px;
    background: rgba(255, 255, 255, 0.045); /* Lighter background with transparency */
    border-radius: 2px; /* Rounded corners */
    transition: background-color 0.3s ease, transform 0.3s ease;
    text-align: center;
}
.BelowSection ul li:hover {
    background-color: rgba(255, 255, 255, 0.061);
    color: #fff;
    transform: scale(1);
}
 
/* Responsive Design */
@media (max-width: 768px) {
    .AboveSection {
        flex-direction: column;
    }

    .BelowSection ul {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .BelowSection ul {
        grid-template-columns: repeat(1, 1fr);
    }
}

 
 