/* home.css */
 

.container {
    position: relative;
    left: 0;
    max-width: 1200px;
    margin-left: 0px;
   margin-top: 120px;
    padding: 20px;
    text-align: start;
    transform: translateY(10px);
    opacity: 0;
    animation: fadeIn 1s forwards ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

h1 {
    font-size: 3.5rem;
    margin-bottom: 0.5rem;
    letter-spacing: 2px;
    transition: color 0.3s ease;
}

 

h2 {
    font-size: 1.8rem;
    margin-bottom: 2rem;
    color: white;
    transition: color 0.3s ease;
}

 

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    
    gap: 30px;
    animation: slideIn 1.5s ease-in-out;
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.navbar ul li {
    display: inline;
}

.navbar ul li a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.navbar ul li a:hover {
    color: #fff;
    background-color: #525a62;
    transform: scale(1.1);
}

.cv-link {
    margin-top: 30px;
    animation: bounceIn 1.5s ease;
}

@keyframes bounceIn {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }
    50% {
        transform: translateY(10px);
        opacity: 0.5;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.cv-link a {
    text-decoration: none;
    background-color: #7a601a;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

 

.Social-links {
    margin-top: 40px;
     
}

.Social-links ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: start;
    gap: 20px;
}

.Social-links ul li {
    display: inline;
}

.Social-links ul li a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #fff;
    padding: 10px;
    border-radius: 50%;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
 