#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-image: url('./assets/Background1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* display: flex;
  justify-content:flex-start;
  padding-left: 20px; */
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

h1 {
  color: white;
}